name: Rust
on:
  push: {branches: ["master"]}
  pull_request: {branches: ["master"]}
env:
  CARGO_TERM_COLOR: always
  nix_conf: |
    substituters = https://cache.nixos.org/ https://nix-community.cachix.org
    trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs=
    keep-env-derivations = true
    keep-outputs = true
  nix_conf_ca_derivations: |
    extra-experimental-features = ca-derivations
permissions: {}
jobs:
  test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@2c9db80fb984ceb1bcaa77cdda3fdf8cfba92035 # v34
        with:
          nix_conf: ${{ env.nix_conf }}
      - uses: nix-community/cache-nix-action@135667ec418502fa5a3598af6fb9eb733888ce6a # v6.1.3
        with:
          primary-key: build-${{ runner.os }}-${{ hashFiles('Cargo.lock', '**/Cargo.toml', 'flake.lock') }}
          restore-prefixes-first-match: build-${{ runner.os }}-
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - name: Migrate database
        run: nix develop .#ci --command ./scripts/init_db.sh
      - name: Build & Test
        run: nix develop .#ci --command cargo test
        # - name: Build & Test
        #   run: nix build .#default --show-trace --print-build-logs
        # - name: Save flake attributes from garbage collection
        #   run: nix profile install .#saveFromGC
  fmt:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@2c9db80fb984ceb1bcaa77cdda3fdf8cfba92035 # v34
        with:
          nix_conf: ${{ env.nix_conf }}
      - uses: nix-community/cache-nix-action@135667ec418502fa5a3598af6fb9eb733888ce6a # v6.1.3
        with:
          primary-key: nix-fmt-${{ runner.os }}-${{ hashFiles('Cargo.lock', '**/Cargo.toml', 'flake.lock') }}
          restore-prefixes-first-match: nix-fmt-${{ runner.os }}-
      - name: Enforce formatting
        run: nix fmt -- --ci
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@2c9db80fb984ceb1bcaa77cdda3fdf8cfba92035 # v34
        with:
          nix_conf: ${{ env.nix_conf }}
      - uses: nix-community/cache-nix-action@135667ec418502fa5a3598af6fb9eb733888ce6a # v6.1.3
        with:
          primary-key: ci-${{ runner.os }}-${{ hashFiles('Cargo.lock', '**/Cargo.toml', 'flake.lock') }}
          restore-prefixes-first-match: ci-${{ runner.os }}-
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - name: Migrate database
        run: nix develop .#ci --command ./scripts/init_db.sh
      - name: Linting
        run: nix develop .#ci --command cargo clippy -- -D warnings
  coverage:
    name: Code coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@2c9db80fb984ceb1bcaa77cdda3fdf8cfba92035 # v34
        with:
          nix_conf: ${{ env.nix_conf }}
      - uses: nix-community/cache-nix-action@135667ec418502fa5a3598af6fb9eb733888ce6a # v6.1.3
        with:
          primary-key: ci-${{ runner.os }}-${{ hashFiles('Cargo.lock', '**/Cargo.toml', 'flake.lock') }}
          restore-prefixes-first-match: ci-${{ runner.os }}-
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - name: Migrate database
        run: nix develop .#ci --command ./scripts/init_db.sh
      - name: Generate code coverage
        run: nix develop .#ci --command cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info
      - name: Generate report
        run: nix develop .#ci --command cargo llvm-cov report --html --output-dir coverage
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: "Coverage report"
          path: coverage/
